.p {
    text-align: center;
}

.imgSize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRe:hover {
    transform: scale(1.15);
}

/* @media (min-width: 500px) { */
.item {
    max-height: 400px;
    max-width: 400px;
    width: 100%;
}

.imgRe {
    height: 300px;
    width: 300px;
    transition: transform .2s;
    border-radius: 20px;
}

.imgSize {
    max-width: 400px;
    max-height: 400px;
}
