.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.inputDiv {
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.title {
    text-align: center;
}

